<div class="jumbotron">
  <h1><%= @farm.name %>: Your Source for Community Supported Agriculture</h1>
</div>

<div class="container-fluid"> <%= image_tag("farmhouse_with_clouds.jpg", :alt => "Our Homestead", :height => 750) %></div>

<div class="container-fluid">
  <h1>To add: description of CSA program</h1>
</div>

<div class="container-fluid">
  <h1>To add: details about the farm</h1>
</div>

<div class="container-fluid">
  <h1>Produce We've Grown for Past CSA Seasons</h1>
</div>

<div class="container-fluid">
  <p class="lead">While we won't grow every single food on this list every year, we will make sure to have a large variety of produce for your enjoyment! We look to your <%= link_to "Wish Lists", wish_list_items_path %> when planning our growing season, since we value your support and participation in our CSA.</p>
</div>

<div class="container-fluid">
  <div>
    <% @farm.products.each do |product| %>
    <ul class="list-group">
      <li class="list-group-item col-xs-6 col-sm-4 col-md-3"><%= product.item %></li>
    </ul>
  <% end %>
  </div>
</div>

<!-- text area to leave comments -->
<!-- contact us -->
<!-- hyperlinks to social media -->
